{% extends 'listing/base.html' %}

{% block content %}

<h2>{{ listing.title }}</h2>

<p> Description : {{ listing.description }}</p>

<p> Année : {{ listing.year }}</p>
<p> Type : {{ listing.get_type_display }}</p>
{% if listing.band %}
<p> Groupe : <a href="{% url 'band-detail' listing.band.id %}">{{ listing.band.name }} </a> </p>
{% else %}
<p>Aucun groupe associé</p>
{% endif %}

{% if listing.sold %}
<p>Vendu</p>
{% else %}
<p>Disponible</p>
{% endif %}


<a href="{% url 'listing-update' listing.id %}">[modifier]</a>

{% endblock %}